<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="container-fluid">
    <h1 class="m-5 text-center"><strong> Liste des docteurs </strong></h1>

    <div class="row">
        {% for doctor in doctors %}
            <div class="my-3 col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-header d-flex align-items-center justify-content-center bg-primary text-white" style="height: 4rem">
                        <h5 class="card-title text-center"><strong>{{ doctor.name }}</strong></h5>
                    </div>
                    
                    <div class="card-body ">
                        <h6 class="card-subtitle mb-2 text-muted text-center">ID {{ doctor.id }}</h6>
                        <p class="card-text">
                            <div class="text-center"><strong>Address :</strong></div>
                            <div class="text-center"><i>{{ doctor.address }}</div></i>
                        </p>
                        <p class="card-text text-center">
                            <div class="text-center"><strong>Téléphone :</strong></div>
                            <div class="text-center"><i>{{ doctor.phone }}</i></div>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>


